# SETS 

A set in Python is an unordered, mutable, and unique collection of elements. It
does not allow duplicate values

# Creating a Set

In [1]:
# Empty set (must use set(), not {})
empty_set = set()

# Set with elements
numbers = {1, 2, 3, 4, 5}

# Mixed data types
mixed_set = {1, "Hello", 3.14, True}

# Creating a set from a list
unique_numbers = set([1, 2, 2, 3, 4, 4, 5])

print(unique_numbers) # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

## Set Methods

In [14]:
#add(x) -> Adds an element x to the set

s1= {1,2,3,4,5,6}
s1.add(7)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [3]:
# update(iterable) -> Adds multiple elements from an iterable

s1.update([8,9,10])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# remove(x) ->Removes  x from the set
#(raises an error if not found)

s1.remove(9)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [7]:
# discard(x) ->Removes x from the set (does
# not raise an error if not found).

s1.discard(5)
s1
# s1.discard(18)

In [8]:
# pop() ->Removes and returns a random element 

s1.pop()

1

In [13]:
# clear() ->Removes all elements from the set 

s1.clear()

print(s1)

set()

In [17]:
# copy() ->Returns a shallow copy of the set
copy_set = s1.copy()
copy_set

{1, 2, 3, 4, 5, 6, 7}

# Set Operations

In [18]:
# union(set2) -> Returns a new set with all unique elements from both sets.

s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
# intersection(set2) ->Returns a set with elements common to both sets
s1.intersection(s2)

{4, 5}

In [21]:
# difference(set2) ->Returns a set with elements in set1 but not in set2. 
s1.difference(s2)

{1, 2, 3}

In [22]:
# symmetric_difference(set2) -> Returns a set with elements in either set1 or set2 ,but not both .

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [27]:
# issubset(set2) ->Returns True if set1 is a subset of set2 .
s1={1,2,3,4,5,6}
s2={5,6}
s2.issubset(s1)

True

In [28]:
# issuperset(set2) -> Returns True if set1 is a suuperset of set2.
s1.issuperset(s2)

True

# Key Properties of Sets:
- Unordered: No indexing or slicing.
- Unique Elements: Duplicates are automatically removed
- Mutable: You can add or remove elements.